  #components-layout-demo-side .logo {
      height: 32px;
      margin: 16px;
      background: rgba(255, 255, 255, 0.3);
  }
  
  .site-layout .site-layout-background {
      background: #fff;
  }
  
  .title__table {
      font-size: 26px;
      color: black;
  }
  
  .button__table {
      margin-bottom: 10px;
  }
  
  .btn__row {
      background-color: transparent;
      border: none;
  }
  
  .btn__row:hover {
      background-color: transparent;
      border: none;
  }
  
  .btn__row:disabled {
      background-color: transparent;
      border: none;
  }
  
  .modalbody {
      padding: 0px 20px;
  }
  
  table {
      counter-reset: serial-number + 1;
  }
  
  table tr {
      counter-increment: serial-number;
  }
  
  table tr td:first-child::before {
      content: counter(serial-number);
      min-width: 1em;
      margin-right: 0.5em;
  }
  
  .form__info {
      margin-top: 20px;
      border-radius: 8px;
      box-shadow: 0 2px 4px 0 rgba(158, 158, 158, 0), 0 2px 15px 0 rgba(0, 0, 0, 0.12);
      padding: 20px 20px;
  }
  
  .Edit__Doctor {
      width: 70%;
      margin-left: 50px;
      margin: 0 auto
  }
  
  .formflex {
      display: flex;
      justify-content: space-around
  }
  
  .table tbody td span.active {
      background: #cff6dd;
      color: #1fa750;
  }
  
  .table tbody td span {
      position: relative;
      border-radius: 30px;
      padding: 4px 10px 4px 25px;
  }
  
  .table tbody td .active:after {
      background: #23bd5a;
  }
  
  .table tbody td span:after {
      position: absolute;
      top: 9px;
      left: 10px;
      width: 10px;
      height: 10px;
      content: '';
      border-radius: 50%;
  }
  
  .table tbody td span.cancel {
      background: #FCA2A2;
      color: red;
  }
  
  .table tbody td .cancel:after {
      background: red;
  }
  
  .table tbody td span:after {
      position: absolute;
      top: 9px;
      left: 10px;
      width: 10px;
      height: 10px;
      content: '';
      border-radius: 50%;
  }
  
  .table thead th {
      border: none;
      padding: 20px;
      font-size: 17px;
      font-weight: 500;
      /* background-color: #002140;
      color: #fff */
  }
  
  .table thead tr {
      border-bottom: 4px solid #eceffa;
  }
  
  .table tbody td {
      border: none;
      padding: 16px;
      font-size: 16px;
      background: rgb(255, 254, 254);
      vertical-align: middle;
  }
  
  .table tbody tr {
      margin-bottom: 10px;
      border-bottom: 4px solid #f8f9fd;
  }
  
  .card__chart {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
  }
  
  .item__chart {
      width: 48%;
      margin-top: 30px;
      background-color: white;
      border-radius: 8px;
      box-shadow: 0 2px 4px 0 rgba(158, 158, 158, 0), 0 2px 15px 0 rgba(0, 0, 0, 0.12);
  }
  
  .total {
      margin-top: 50px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly
  }
  
  .total__card {
      padding: 10px;
      flex-basis: 43%;
      margin-bottom: 50px;
      background-color: white;
      border-radius: 8px;
      box-shadow: 0 2px 4px 0 rgba(158, 158, 158, 0), 0 2px 15px 0 rgba(0, 0, 0, 0.12);
  }
  
  .total__title {
      position: relative;
      display: flex;
  }
  
  .total__icon {
      position: absolute;
      right: 3%;
      margin-top: 10px;
  }
  
  .total__title {
      color: rgb(156, 156, 156);
      margin-left: 5px;
  }
  
  .total__number {
      font-size: 25px;
      margin-left: 5px;
  }