  #components-layout-demo-side .logo {
      height: 32px;
      margin: 16px;
      background: rgba(255, 255, 255, 0.3);
  }
  
  .site-layout .site-layout-background {
      background: #fff;
  }
  
  .title__table {
      font-size: 26px;
      color: black;
  }
  
  .button__table {
      margin-bottom: 10px;
  }
  
  .btn__row {
      background-color: transparent;
      border: none;
  }
  /* .title__info {
      border-bottom: 1px solid rgb(151, 150, 150);
      margin-bottom: 20px;
      margin-top: 50px;
  }
  
  .first__title {
      margin-top: 0px;
  }
  
  .title__info h5 {
      width: 50%;
      margin: 0 auto;
      margin-bottom: -10px;
      margin-left: 20px;
      padding-left: 10px;
      background-color: white;
  } */
  
  .modalbody {
      padding: 0px 20px;
  }
  
  table {
      counter-reset: serial-number + 1;
  }
  
  table tr {
      counter-increment: serial-number;
  }
  
  table tr td:first-child::before {
      content: counter(serial-number);
      min-width: 1em;
      margin-right: 0.5em;
  }
  
  .form__info {
      margin-top: 20px;
      border-radius: 8px;
      box-shadow: 0 2px 4px 0 rgba(158, 158, 158, 0), 0 2px 15px 0 rgba(0, 0, 0, 0.12);
      padding: 20px 20px;
  }
  
  .Edit__Doctor {
      width: 70%;
      margin-left: 50px;
      margin: 0 auto
  }
  
  .formflex {
      display: flex;
      justify-content: space-around
  }