.form__search {
    width: 20%;
    margin: 0 auto;
    display: block;
    margin-top: 30px;
}

.wapper_listdoc {
    display: flex;
    justify-content: space-between;
    height: 76.7vh;
}

.list__doc {
    display: flex;
    width: 70%;
    padding-top: 0px;
    margin: 0 auto;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    overflow-y: scroll;
}

.list__doc::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: rgb(255, 255, 255, 0.1);
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0, 0.1);
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.title__list {
    padding-top: 90px;
    padding-left: 30px;
    margin-bottom: 40px;
    width: 30%;
    height: 18vh;
}

.list__item {
    margin-left: 16px;
    flex-basis: 27%;
    height: 330px;
    margin-bottom: 40px;
    margin-top: 10px;
    text-align: center;
    border: none;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 17px 0px rgb(255 255 255 / 20%);
    -moz-box-shadow: 0px 0px 17px 0px rgb(255 255 255 / 20%);
    box-shadow: 0px 0px 17px 0px rgb(0 0 0 / 20%);
    box-sizing: border-box;
    display: block;
    padding-top: 20px;
}

.doctor:focus {
    border: 2px solid #007bff;
    transform: scale(1.04)
}

.faculty:focus {
    border: 2px solid #007bff;
    transform: scale(1.04)
}

.item__name {
    margin-top: 10px;
    font-weight: 600;
    font-size: 20px;
}

.item__chuyenkhoa {
    font-weight: 500;
    font-size: 17px;
}

.item__content {
    margin: 0px 20px;
}

.item__btn {
    margin-top: 10px;
}

.title {
    margin-top: 30px;
}

.background__faculty {
    position: absolute;
    margin-top: 100px;
}

.bgright {
    right: 0%;
}

.wapper__faculty {
    position: relative;
    background-color: white;
    border-radius: 30px;
    width: 88%;
    height: 80%;
    margin: 0 auto;
    box-shadow: 0 2px 4px 0 rgba(158, 158, 158, 0), 0 2px 15px 0 rgba(0, 0, 0, 0.12);
    margin-top: 3%;
}

.faculty {
    flex-basis: 30%;
    margin-right: 10px;
    box-shadow: 0 2px 4px 0 rgba(158, 158, 158, 0), 0 2px 15px 0 rgba(0, 0, 0, 0.12);
}

.time {
    margin-left: 20px;
}

.datetime {
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}

.button__bill {
    width: 30%;
    margin-top: 20px;
    margin-left: 70%;
}